/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  border-bottom: 2px #C0C0C0 dashed;
}
div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}
@media only screen and (max-width: 500px) {
  div {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    padding-bottom: 1rem;
  }
}
div nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 500px) {
  div nav {
    align-content: center;
    width: 100%;
  }
  div nav :first-child {
    margin-left: 1rem;
  }
  div nav :last-child {
    margin-right: 1rem;
  }
}
div nav a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
}
div nav a:hover {
  color: #17A2B8;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  div nav a:hover {
    color: purple;
    background-color: #FFEBCD;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
@media only screen and (max-width: 500px) {
  .home .logo {
    align-self: center;
    padding-left: 2rem;
    font-size: 2rem;
  }
}
body {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-bottom: 2px #C0C0C0 dashed;
}
@media only screen and (max-width: 500px) {
  body {
    margin: 1rem;
  }
}
body .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 500px) {
  body .content-section {
    align-content: center;
  }
}
body .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media only screen and (max-width: 500px) {
  body .content-section .text-content {
    width: 90%;
  }
}
body .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media only screen and (max-width: 500px) {
  body .content-section .img-content {
    width: 100%;
  }
}
body .content-section .img-content img {
  border-radius: 10px;
}
body .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media only screen and (max-width: 500px) {
  body .inverse-content {
    width: 100%;
    flex-direction: column-reverse;
  }
}
body .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
body .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
body .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media only screen and (max-width: 500px) {
  body .content-destination {
    width: 90%;
  }
}
body .content-destination img {
  border-radius: 10px;
}
body .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 500px) {
  body .content-pick {
    flex-direction: column;
  }
}
body .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media only screen and (max-width: 500px) {
  body .content-pick .destination {
    width: 90%;
  }
}
body .header {
  max-width: 80%;
  display: flex;
  flex-wrap: row top;
  font-size: 7;
  margin-top: 7rem12rem;
  text-align: center;
  padding: 0 7.5rem;
  margin-bottom: 10rem;
  vertical-align: center;
  border-bottom: 2px #C0C0C0 dashed;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 4rem;
  color: #212529;
  background-color: #17A2B8;
  border: none;
  padding: 2rem;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 1rem;
  position: relative;
}
@media only screen and (max-width: 500px) {
  button {
    width: 100%;
  }
}
button:hover {
  background: #FFEBCD;
  cursor: pointer;
}
button:after {
  content: "";
  background: #90EE90;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
