.home {
  body {
   width: 80%;
   height: 100%;
   margin: 0 auto;
  }
  
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }
}
 .header {
   max-width: 80%;
   display: flex;
   flex-wrap: row top;
   font-size: 7;
   margin-top: 7rem12rem;
   text-align: center;
   padding: 0 7.5rem;
   margin-bottom: 10rem;
   vertical-align: center;
   border-bottom: 2px @silver dashed;
 }
 button{
  .custom-buttons(80%, 4rem, row, @font-color, @eastern-blue, center);
    border: none;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 1rem;
    position: relative;
    &:hover{ 
      background: @sandy-beach;
      cursor: pointer;
    }
    }

    
    button:after {
      content: "";
      background: #90EE90;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px!important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }
    
    button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
  
